.card {
  box-shadow: 0 0 3px black;
}


.divider {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.loader-parent {
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  height: 80px;
  width: 80px;
  border: 5px solid #f3f3d3;
  border-left-color: transparent;
  border-radius: 50%;
  animation: loader 1s linear infinite;
}
.selected-option{
  box-shadow:0 0 1px rgb(13, 12, 12);
  padding:10px;
  border-radius:5px;
  border:2px solid rgb(60, 59, 59);
  background-color: var(--primary);
}

.option{
  box-shadow:0 0 1.5px rgb(9, 8, 8);
  padding:10px;
  border-radius:5px;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.result{
  background-color: var(--primary);
  width: 250px;
  align-items: center;
  padding:30px;
  border-radius: 8px;

}

.timer{
  background-color: brown;
  color:white !important;
  padding:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;

}

.lottie-animation{
  height:400px;
}
