.input{
    padding:10px 20px;
    border:2px solid #ccc;
}

.ant-form-item{
    margin-bottom:5px !important;
}

.primary-contained-btn{
    background-color: var(--primary);
    color:black;
    padding:10px 20px;
    border:2px solid gray;
    /* box-shadow:0 0 4px black; */
}

.bg{
    background-color: var(--secondary);
}

.fg{
    background-color: var(--primary);
}
.pt-2{
    padding-left:15px;
}