input,
select {
  height: 40 px !important;
  padding: 10px 20px !important;
  border: 2px solid rgb(131, 130, 130) !important;
  width: 100%;
  border-radius: 2px !important;
}
.ant-form-item {
  margin-bottom: 5px !important;
}

.primary-contained-btn {
  background-color: var(--primary);
  color: black;
  padding: 10px 20px;
  border: 2px solid black;
  cursor:pointer;
  border-radius: 5px;
  margin:10px 2px;

  /* box-shadow:0 0 4px black; */
}
button {
  padding: 10px 25px;
  border-radius: 2px;
  cursor:pointer;
  height:40px !important;
}
.primary-outlined-btn {
  background-color: var(--primary);
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  height: 50px;
  cursor:pointer;
  border-radius: 5px;
  margin:10px 2px;

  /* box-shadow:0 0 4px black; */
}

.bg {
  background-color: var(--secondary);
}

.fg {
  background-color: var(--primary);
}
.pt-2 {
  padding-left: 15px;
}
