.layout{
    padding:10px;
    background-color: var(--secondary);
    /* height:100vh; */
}

.sidebar{
    background-color: var(--primary);
    padding:10px;
    border-radius:5px;
    /* height:100%; */
    display:flex;
    align-items:center;
    justify-content: center;
    height:100vh;
    
}

.menu-item{
    display:flex;
    align-items: center;
    padding:10px 20px;
    margin:5px;
    cursor:pointer;
    transition:all 0.2s ease-in-out;
    gap:15px;
}

.active-menu-item{
    border:2px solid black;
    border-radius:5px;
}

.body{
    width:100%;
}

.header{
    background-color: var(--primary);
    /* width:100%; */
    padding:15px;
    align-items: center !important;
    border-radius:5px;
}