:root{
    --primary:#86A789;
    --secondary:#B2C8BA;
    --success:#4caf50;
    --info:v#00bcd4;
    --warning:#ff9800;
    --danger:#f44336;
    --light:#f1f1f1;
    --dark:#212121;
}

.bg-primary{
    background-color: var(--primary);
}